[global]
port=8888
webroot=/usr/share/web20mash/

[auth]
active=0
username=login
password=secret

[control]
# owfs parameters
#
# this is usually the address of an owserver (host:port)
# or just something like "-u" for direct connection via usb.
# However direct connection does only make sense if mashctld
# is the only software accessing the 1-wire bus
owparms=-u
#owparms=localhost:12345

# initial must temperature for control
tempMust=0

# Avalable 1-wire devices can be listed by calling "mashctld -l"
#
#

# 1-wire temperature sensor ID
#sensor=10.7B7935000800
sensor=10.B963D4000800

# actuator to use
# this can be one of the following:

# a supported 1-wire device/port
# (currently DS2406, DS2408 and DS2413) ID/PIO.X
actuator=12.9B6E45000000/PIO.A

# a sysfs file for Linux GPIO driver
#actuator=/sys/class/gpio/gpio25/value

# "external" to use an external command
#actuator=external


# if actuator is set to "external" the following
# external commands are run to switch on and off
# state respectively instead of using a 1-wire actuator
extactuatoron=sispm +1
extactuatoroff=sispm -1

# hysteresis of two-level controller
hysteresis=0.2

# devicetype under control
# do not change this unless you intend to control a fridge :)
# only valid if state-machine is not in action
# valid options: heater, cooler
actuatortype=heater

# If you want to control a stirring device in addition to a heater
# add something like this
# stirring_device=external
#
# stirring device on/off parameters for each state
# values are times in seconds always off is 0:0, always on is x:0 (x>0)
#stirring_states=0:0,1:0,16:8,1:0,16:8,1:0,16:8,1:0,16:8
#ext_stirring_device_on=sispm +2
#ext_stirring_device_off=sispm -2

[mash-process]
resttemp1=52.5
resttemp2=62.5
resttemp3=72.5
# Temperature for lautering
# This is a optional feature, because some people (including myself)
# do lautering right after rest 3
# If you do not want to do this just set lauteringtemp to the
# same value as resttemp3
lauteringtemp=76
# All restimes in Minutes
resttime1=0
resttime2=20
resttime3=20
lauteringtime=0

# external command to be executed when mash state is entered
# can be used to control external displays, LEDs etc.
# %d will be replaced by state number
# state_change_cmd=mps2iConnectLED %d
