[global]
# port to listen to for integrated webserver
port=8888

# the following two directories configurations can be 
# omitted if an installed version (e.g. debian package or make install)
webroot=/usr/share/web20mash/
plugin_dir=/usr/lib/web20mash/plugins

# If our root-filesysystem is readonly (e.g. on Raspberry pi) we might need to call
# an external script, which will do something after our runtime configuration file has
# been changed.
#conf_change_script=/usr/bin/mashctld_readonly_root_script.sh

[tls]
# optional encrypted port to listen to for integrated webserver
# this is disabled by default enable using active=1
port=44300
active=0
disable_plain=1
tls_key_file=/etc/mashctld_key.pem
tls_cert_file=/etc/mashctld_cert.pem

[auth]
# use basic auth (username/password) for web interface, this is most useful
# in conjunction with tls enabled
# disabled by default enable using active=1
active=0
username=login
password=secret

[control]
# owfs parameters
#
# this is usually the address of an owserver
# (host:port default server port is 4304,
# so localhost:4304 should be common)
# or just something like "-u" for direct connection via usb.
# However direct connection does only make sense if mashctld
# is the only software accessing the 1-wire bus
# For DS2483 e.g. RaspIO or fangopcb
owparms=--i2c=/dev/i2c-1:18 --no_PPM
# for DS2490 e.g. DS9490R
#owparms=-u
# for owserver running on localhost connected to any busmaster
#owparms=localhost:4304

# initial must temperature for control
tempMust=0

# sensor device type (currently "onewire" or "TEMPer1"):
# additional parameters like device ID  must be specified
# in the plugin section of the particular type
sensor=onewire

# actuator device type (currently onewire, gpio or external):
# device ID, external command etc. must be specified
# in the plugin section of the particular type
actuator=external
# stirring device type (onewire,gpio or external):
stirring_device=gpio

# hysteresis of two-level controller
hysteresis=0.2

# devicetype under control
# do not change this unless you intend to control a fridge :)
# only valid if state-machine is not in action
# valid options: heater, cooler
actuatortype=heater

# If you want to control a stirring device in addition to a heater
# add something like this
# stirring_device=external
#
# stirring device on/off parameters for each state
# values are times in seconds always off is 0:0, always on is x:0 (x>0)
#stirring_states=0:0,1:0,16:8,1:0,16:8,1:0,16:8,1:0,16:8

[mash-process]
# These defaults are not all that important, as they can be changed
# during runtime using the webinterface
resttemp1=52.5
resttemp2=62.5
resttemp3=72.5
# Temperature for lautering
# This is a optional feature, because some people (including myself)
# do lautering right after rest 3
# If you do not want to do this just set lauteringtemp to the
# same value as resttemp3
lauteringtemp=76
# All restimes in Minutes
resttime1=0
resttime2=20
resttime3=20
lauteringtime=0

# external command to be executed when mash state is entered
# can be used to control external displays, LEDs etc.
# %d will be replaced by state number
# state_change_cmd=mps2iConnectLED %d
# this is for running a buzzer on gpio18 for 1 second
#state_change_cmd=gpio_buzzer 1

# actuator plugin configuration

# This actuator plugin will call the respective external command
# at least two commands (*_on and *_off) have to be given for
# each actuator in use.
# The *_check command is optional but recommended!
# In case of sispmctl we are able to check if the device is accessable
# if this option has been given
[actuator_plugin_external]
actuator_on           = sispmctl -o 1 -d 0
actuator_off          = sispmctl -f 1 -d 0
actuator_check        = sispmctl -s
stirring_device_on    = sispmctl -o 2 -d 0
stirring_device_off   = sispmctl -f 2 -d 0
stirring_device_check = sispmctl -s

# This actuator plugin uses actuators connected to linux gpio lines
# set to output mode (useful e.g. on Raspberry Pi)
[actuator_plugin_gpio]
actuator=/sys/class/gpio/gpio25/value
stirring_device=/sys/class/gpio/gpio26/value

# This actuator plugin uses actuators connected to a owfs supported
# 1-wire bus
# use find_ow_devs to list available devices
[actuator_plugin_onewire]
# use find_ow_devs to list available devices
actuator=12.AAAAAAAAAAAA
actuator_port=PIO.A
stirring_device=12.AAAAAAAAAAAA
stirring_device_port=PIO.B

# This actuator plugin uses owfs supported 1-wire temperature sesnsors
# use find_ow_devs to list available devices
[sensor_plugin_onewire]                   
sensor=10.XXXXXXXXXXXX

# This actuator plugin uses the so called TEMPer1 USB temeprature sensor
# from http://pcsensor.com/index.php?_a=product&product_id=7
# Available via Ebay, Amazon etc.
# Sensors are enumerated in the order they appear on USB
[sensor_plugin_temper1]
# sensor number as found on usb
sensor=0
