/* 

CSS for Web 2.0 Mash

*/

body
{
background-color:#FFCC66;
background-image:url(../images/elehigru.gif);
color:black;
margin: 0;
font-size: 10pt;
}

#ControlCanvas {
  position:relative;
  border: solid 3px;
}

#pstate {
  position:relative;
  top: -390px;
  left: 305px;
  width: 350px;
}

#pandc {
  margin-left:auto;
  margin-right:auto;
  width: 620px;
}

h1 { 
  text-align: center;
}

table {
  border: 5px none;
  border-spacing: 0;
}