Source: webmash4x20client
Section: unknown
Priority: extra
Maintainer: Sven Geggus <sven-deb@geggus.net>
Build-Depends: debhelper (>= 8.0.0), libwiringpi-dev, libwiringpidev-dev
Standards-Version: 3.9.3
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/webmash4x20client.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/webmash4x20client.git;a=summary

Package: webmash4x20client
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
