SUBSYSTEM!="usb_device", ACTION!="add", GOTO="sispm_rules_end"

# SISPM Mains sockets
ATTR{idVendor}=="04b4", ATTR{idProduct}=="fd11", MODE="666", GROUP="webmash"
ATTR{idVendor}=="04b4", ATTR{idProduct}=="fd13", MODE="666", GROUP="webmash"

LABEL="sispm_rules_end"
