Source: web20mash
Section: unknown
Priority: extra
Maintainer: Sven Geggus <sven-web20mash@geggus.net>
Build-Depends: cdbs, debhelper (>= 7.0.50~), libmicrohttpd-dev (>=0.9.14), libow-dev (>=2.8p13+dfsg1-5), libmagic-dev, xcftools, wget, inkscape, libi2c-dev, libmnl-dev, libcurl4-gnutls-dev |libcurl4-openssl-dev
Standards-Version: 3.8.4
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/web20mash.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/web20mash.git;a=summary

Package: web20mash
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: sudo, sysfsutils
Description: Web 2.0 base mash control software
 Web 2.0 Mash is a Software for automatic control of mash procedure
 in beer brewing process. This is achieved using a 1-wire temperature
 sensor and various actuators including 1-wire switch DS2606.
 In addition to this the Software is also applicable as an ordinary
 two-level temperature controler for heating and cooling.
